PORT=3001
NODE_ENV=development
JWT_SECRET=
JWT_REFRESH_SECRET=
CORS_ORIGINS=http://localhost:8080
PAYMENT_MODE=simulation
PAYTECH_API_KEY=
PAYTECH_API_SECRET=
PAYTECH_API_URL=https://paytech.sn/api/payment/request-payment
PAYTECH_REFUND_URL=https://paytech.sn/api/payment/refund-payment
PAYTECH_ENV=prod
PAYTECH_MOCK=true
WHATSAPP_MOCK=false
WHATSAPP_SESSION_PATH=.wwebjs_auth
APP_DOMAIN=http://localhost:8080
DB_PATH=
